### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
_data/program.1.yml
_layouts/program.*.html

### Bundler ###
.bundle/
vendor/bundle/

### Python ###
__pycache__/
venv/

### MacOS ###
.DS_Store

## Images
.webp
